body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
}

.slider {
    display: flex;
    width: 500vw;
    height: 100vh;
    animation: slide 10s infinite;
}

.page {
    background-color: black;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-right: 2px solid white;
}
.page1h1 {
    font-size:110px;
    text-align:center;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-100vw);
    }
    60% {
        transform: translateX(-200vw);
    }
    80% {
        transform: translateX(-300vw);
    }
    100% {
        transform: translateX(-400vw);
    }
}

.slider:hover {
    animation-play-state: paused;
}