.navbar {
  background-color: #121212;
  padding: 1rem 2rem;
  z-index: 5!important;
}

.nav-container {
  width: 70%;
  height: 70px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  z-index: 5!important;
}

.nav-back {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 50%;
  background-color: #191924;
  border-radius: 20px;
  z-index: 5!important;
}

.nav-left {
  position: absolute;
  top: 20px;
  left: 10px;
}

.nav-left a {
  margin-left: 20px;
}

.nav-right {
  position: absolute;
  top: 20px;
  right: 30px;
}


#nav-h1 {
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 45px;
  font-weight: 400;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
⁠{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 50px 0;
}

.Mainheading {
  font-size: 130px;
  font-weight: 800px;
  letter-spacing: -4px;
  line-height: 1;
  position: relative;
  top: -20px;
}
.mainimage {
  width:100%;
  height:600px;
  position: relative;
  top: -200px;
}
.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.intro {
  padding: 20px;
  text-align: left;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: 80px;
  letter-spacing: -4px;
  font-weight: 700;
  text-align: left;
  line-height: 1;
  margin-top: -100px;
}
.work {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 100vh;
  font-size:30px;
}

.gallery-item img {
  width: 800px;
  height: 750px;
  object-fit: cover;
  position: absolute;
  top: 2600px;
  right: 0px;
}
.glitch-art {
  background-color: #1f1f1f;
  padding: 40px;
  text-align: center;
}

.glitch-art h2 {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6200ea;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #3700b3;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  gap: 20px;
  padding: 20px;
  justify-items: center; 
  align-items: center; 
}

.image-item {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 350px; 
  text-align: center;
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover; 
}

.project-name, .project-subtitle {
  display: block;
  margin-top: 2px; 
  text-align: left; 
  font-family: 'Gothic A1', sans-serif;
}

.project-name {
  font-size: 20px;
  font-weight: regular;
  color: white; 
  padding-left: 16px; 
}

.project-subtitle {
  font-size: 16px;
  font-weight: regular;
  color:white;
  padding-left: 16px; 
}


.testimonial-item {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  min-width: 200px;
}

footer {
  text-align: center;
  padding: 40px 20px;
  background-color: #1f1f1f;
}
#glitch-button {
  position: absolute;
  top: 3010px;
  left: 30px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #928DD3;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
  width: 80px;
  height: 25px;
  font-size: 15px;
  text-align: center;
}

#glitch-h1 {
  position: absolute;
  top: 2810px;
  left: 30px;
  letter-spacing: -2px;
  color: #ffffff;
  text-decoration: none; 
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 56px;
  text-align: center;
}

#glitch-p {
  position: absolute;
  top: 2920px;
  left: 30px;
  color: #ffffff;
  text-decoration: none; 
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 20px;
  text-align: center;
}

#hr-tag {
width: 100%;
position: absolute;
top: 3340px;
}

.secondimage {
  position: relative;
  left: 50%;
  transform: translateX(-45%);
  overflow: hidden;
}

#hr-main {
width: 100%;
position: absolute;
top: 1030px;
}